body, html {
    border: 0;
    margin: 0;
    background: #000;
}

#app {
    font-family: sans-serif, helvetica, Verdana, Arial;
    color: #ccc;
}

#content {
    background: #333;
    width: 100%;
    margin: 16px 0;
    padding:  16px 0;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

#content > * {
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

.message {
    text-align: center;
    color: #ccc;
    font-size: 60px;
    line-height: 480px;
}

.message:hover {
    background: #222;
    color: #fff;
}
